body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}
body {
  font-size:16px;
  background-color: #464E2E;
  color: teal;
  
}
.w3-half img {
  margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer
}
.w3-half img:hover {
  opacity:1
}

.tabimg {
  width: 100px;
  height: 100px;
}

table {
  color: teal;
  width: 100%;
}

table, th, td {
  border: 1px solid;
}

w3-bar-item {
  font-size: small;
}

